.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    margin: 10px 0px 0px 0px;
}

.green {
    color: green;
}

.red {
    color: red;
}

body {
    font-family: 'Roboto', sans-serif;
}